body{
    text-align: center;
    margin: 0;
}
h1{
    margin: 0 0 0 -0.44rem;
    font-weight: normal;
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    padding: 0%;
    color: #66bfbf;
}
h2{
    font-family: 'Merriweather', serif;
    font-weight: normal;
    color: #66bfbf;
    
}
h3{
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    color: #11999e;
    font-size: 1.44rem;
}
p{
    font-weight: bold;
}
.description3{
    font-weight: normal;
}
.top-container{
    margin: 0;
    padding-top: 10rem;
    position: relative;
    background-color: rgb(228, 240, 240);

}
.middle-container{
    margin-top: 2rem;

}
.bottom-container{

    
}
.skill1-img{
    width: 12.5rem;
    height: 12.5rem;
    padding-right: 1.56rem;
    float: left;
}
.skill2-img{
    width: 12.5rem;
    height: 12.5rem;
    float: right;
    padding-left: 1.56rem;
}
.top-cloud{
    width: 12rem;
    position:absolute ;
    top: 2rem;
    right: 250px;
}
.bottom-cloud{
    width: 12rem;
    position:absolute;
    left: 15.62rem;
}
.user-img{
    height: 12.5rem;
    width: 12.5rem;
}
footer{
    background-color:#7bcccc;
    height: 5rem;
    padding: 2.5rem;
    margin-top: 5rem;
}
hr{
    border: dotted #dcebeb 0.4rem;
    border-bottom: none;
    width: 4%;
    margin: 5rem auto 5rem auto;
}
.skill-heading{
    margin: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:xx-large;
}
.footer-links{
    color: #11999e;
}
.copyright-tag{
    color: black;
    font-weight: normal;
}
.skill-container{
    width: 50%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: left;
    line-height: 2;
}
.skill-python{
   
}
.skill-react{

}
.btn {
    margin-top: 25px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .contact-discreption{
      margin-bottom: 2.5rem;
  }
